In [1]:
import pandas as pd
import numpy as np
cities_all=['Berlin','Dresden','Düsseldorf','Frankfurt am Main','Kassel','Leipzig','Magdeburg','Potsdam','Clermont','Dijon','Lille','Lyon','Montpellier','Nantes','Nimes','Paris','Toulouse','Madrid','Wien','France_other','Germany_other','All']
cities_car=['Berlin','Dresden','Düsseldorf','Frankfurt am Main','Kassel','Leipzig','Magdeburg','Potsdam','Clermont','Paris','Toulouse','France_other','Germany_other','All']

In [10]:
cities=[]

dist_agg_ml=[]
dist_agg_lr=[]

dist_comm_ml=[]
dist_comm_lr=[]

carown_ml=[]
carown_lr=[]

mode_ml=[]
mode_lr=[]

In [11]:
for city in cities_all:
    print(city)
    fp='../outputs/ML_Results/' + city + '_HPO_dist_agg_summary.csv'
    dist_agg=pd.read_csv(fp)

    dist_agg_ml.append(round(dist_agg['R2_full_ML'][0],3))
    dist_agg_lr.append(round(dist_agg['R2_full_LR'][0],3))

    fp='../outputs/ML_Results/' + city + '_HPO_dist_commute_summary.csv'
    dist_commute=pd.read_csv(fp)

    dist_comm_ml.append(round(dist_commute['R2_full_ML'][0],3))
    dist_comm_lr.append(round(dist_commute['R2_full_LR'][0],3))

    fp='../outputs/ML_Results/' + city + '_HPO_mode_common_new_summary.csv'
    mode=pd.read_csv(fp)

    mode_ml.append(round(mode['F1_full_ML'][0],3))
    mode_lr.append(round(mode['F1_full_LR'][0],3))

    cities.append(city)

Berlin
Dresden
Düsseldorf
Frankfurt am Main
Kassel
Leipzig
Magdeburg
Potsdam
Clermont
Dijon
Lille
Lyon
Montpellier
Nantes
Nimes
Paris
Toulouse
Madrid
Wien
France_other
Germany_other
All

In [12]:
for city in cities_car:
    print(city)

    fp='../outputs/ML_Results/' + city + '_HPO_carown_new_summary.csv'
    carown=pd.read_csv(fp)

    carown_ml.append(round(carown['F1_full_ML'][0],3))
    carown_lr.append(round(carown['F1_full_LR'][0],3))

Berlin
Dresden
Düsseldorf
Frankfurt am Main
Kassel
Leipzig
Magdeburg
Potsdam
Clermont
Paris
Toulouse
France_other
Germany_other
All

In [13]:
carown_df=pd.DataFrame({'city':cities_car,'car_own_F1_ML':carown_ml,'car_own_F1_LR':carown_lr})
carown_df

                 city  car_own_F1_ML  car_own_F1_LR
0              Berlin          0.758          0.745
1             Dresden          0.815          0.795
2          Düsseldorf          0.800          0.800
3   Frankfurt am Main          0.794          0.791
4              Kassel          0.835          0.828
5             Leipzig          0.770          0.762
6           Magdeburg          0.809          0.813
7             Potsdam          0.758          0.793
8            Clermont          0.832          0.843
9               Paris          0.760          0.749
10           Toulouse          0.849          0.849
11       France_other          0.851          0.846
12      Germany_other          0.809          0.797
13                All          0.785          0.762

In [15]:
summ_df=pd.DataFrame({'city':cities,'dist_agg_r2_ML':dist_agg_ml,'dist_agg_r2_LR':dist_agg_lr,
                      'dist_commute_r2_ML':dist_comm_ml,'dist_commute_r2_LR':dist_comm_lr,
                      'mode_F1_ML':mode_ml,'mode_F1_LR':mode_lr})

summ_df

,city,dist_agg_r2_ML,dist_agg_r2_LR,dist_commute_r2_ML,dist_commute_r2_LR,mode_F1_ML,mode_F1_LR
0,Berlin,0.809,0.832,0.180,0.167,0.676,0.624
1,Dresden,0.272,0.295,-0.008,-0.011,0.681,0.616
2,Düsseldorf,0.449,0.469,0.113,0.029,0.651,0.601
3,Frankfurt am Main,-0.034,-0.578,-0.041,0.013,0.660,0.584
4,Kassel,-0.393,-35.304,-0.034,-0.008,0.679,0.626
5,Leipzig,0.629,-1.280,0.065,0.079,0.685,0.638
6,Magdeburg,0.235,-17.547,0.020,0.038,0.693,0.636
7,Potsdam,-0.167,-14.430,0.077,-0.013,0.651,0.608
8,Clermont,0.252,0.309,0.231,0.254,0.912,0.689
9,Dijon,0.617,0.796,0.137,0.205,0.876,0.732
10,Lille,0.218,0.243,0.109,0.105,0.905,0.735
11,Lyon,0.383,0.413,0.160,0.152,0.872,0.711
12,Montpellier,0.602,0.636,0.211,0.206,0.876,0.744
13,Nantes,0.670,0.739,0.180,0.174,0.858,0.728
14,Nimes,0.621,0.513,0.133,0.183,0.905,0.649
15,Paris,0.599,0.651,0.195,0.147,0.791,0.722
16,Toulouse,0.460,0.533,0.171,0.154,0.860,0.681
17,Madrid,0.692,0.673,0.174,0.138,0.730,0.685
18,Wien,0.183,0.431,0.116,0.135,0.689,0.662
19,France_other,0.448,0.450,0.216,0.181,0.883,0.763
20,Germany_other,0.394,0.285,0.112,0.031,0.669,0.616
21,All,0.586,0.559,0.182,0.138,0.758,0.679

In [16]:
summ_df=summ_df.merge(carown_df,how='outer')
summ_df

,city,dist_agg_r2_ML,dist_agg_r2_LR,dist_commute_r2_ML,dist_commute_r2_LR,mode_F1_ML,mode_F1_LR,car_own_F1_ML,car_own_F1_LR
0,Berlin,0.809,0.832,0.180,0.167,0.676,0.624,0.758,0.745
1,Dresden,0.272,0.295,-0.008,-0.011,0.681,0.616,0.815,0.795
2,Düsseldorf,0.449,0.469,0.113,0.029,0.651,0.601,0.800,0.800
3,Frankfurt am Main,-0.034,-0.578,-0.041,0.013,0.660,0.584,0.794,0.791
4,Kassel,-0.393,-35.304,-0.034,-0.008,0.679,0.626,0.835,0.828
5,Leipzig,0.629,-1.280,0.065,0.079,0.685,0.638,0.770,0.762
6,Magdeburg,0.235,-17.547,0.020,0.038,0.693,0.636,0.809,0.813
7,Potsdam,-0.167,-14.430,0.077,-0.013,0.651,0.608,0.758,0.793
8,Clermont,0.252,0.309,0.231,0.254,0.912,0.689,0.832,0.843
9,Dijon,0.617,0.796,0.137,0.205,0.876,0.732,NaN,NaN
10,Lille,0.218,0.243,0.109,0.105,0.905,0.735,NaN,NaN
11,Lyon,0.383,0.413,0.160,0.152,0.872,0.711,NaN,NaN
12,Montpellier,0.602,0.636,0.211,0.206,0.876,0.744,NaN,NaN
13,Nantes,0.670,0.739,0.180,0.174,0.858,0.728,NaN,NaN
14,Nimes,0.621,0.513,0.133,0.183,0.905,0.649,NaN,NaN
15,Paris,0.599,0.651,0.195,0.147,0.791,0.722,0.760,0.749
16,Toulouse,0.460,0.533,0.171,0.154,0.860,0.681,0.849,0.849
17,Madrid,0.692,0.673,0.174,0.138,0.730,0.685,NaN,NaN
18,Wien,0.183,0.431,0.116,0.135,0.689,0.662,NaN,NaN
19,France_other,0.448,0.450,0.216,0.181,0.883,0.763,0.851,0.846
20,Germany_other,0.394,0.285,0.112,0.031,0.669,0.616,0.809,0.797
21,All,0.586,0.559,0.182,0.138,0.758,0.679,0.785,0.762

In [17]:
summ_df.to_csv('../outputs/ML_Results/accuracy_all.csv',index=False)