In [1]:
import pandas as pd
import numpy as np
cities_all=['Berlin','Dresden','Düsseldorf','Frankfurt am Main','Kassel','Leipzig','Magdeburg','Potsdam','Clermont','Dijon','Lille','Lyon','Montpellier','Nantes','Nimes','Paris','Toulouse','Madrid','Wien','France_other','Germany_other','All']
#cities_all=['Berlin','Dresden','Düsseldorf','Frankfurt am Main','Kassel','Leipzig','Magdeburg','Potsdam','Clermont','Dijon','Lille','Lyon','Montpellier','Nantes','Nimes','Paris','Toulouse','Madrid','Wien','France_other','Germany_other']
cities_car=['Berlin','Dresden','Düsseldorf','Frankfurt am Main','Kassel','Leipzig','Magdeburg','Potsdam','Clermont','Paris','Toulouse','France_other','Germany_other','All']

In [2]:
cities=[]

dist_agg_ml=[]
dist_agg_lr=[]

dist_comm_ml=[]
dist_comm_lr=[]

carown_ml=[]
carown_lr=[]

mode_ml=[]
mode_lr=[]

In [3]:
for city in cities_all:
    print(city)
    fp='../outputs/ML_Results/' + city + '_HPO_dist_agg_summary.csv'
    dist_agg=pd.read_csv(fp)

    dist_agg_ml.append(round(dist_agg['R2_full_ML'][0],3))
    dist_agg_lr.append(round(dist_agg['R2_full_LR'][0],3))

    fp='../outputs/ML_Results/' + city + '_HPO_dist_commute_summary.csv'
    dist_commute=pd.read_csv(fp)

    dist_comm_ml.append(round(dist_commute['R2_full_ML'][0],3))
    dist_comm_lr.append(round(dist_commute['R2_full_LR'][0],3))

    fp='../outputs/ML_Results/' + city + '_HPO_mode_common_new_summary.csv'
    mode=pd.read_csv(fp)

    mode_ml.append(round(mode['F1_full_ML'][0],3))
    mode_lr.append(round(mode['F1_full_LR'][0],3))

    cities.append(city)

Berlin
Dresden
Düsseldorf
Frankfurt am Main
Kassel
Leipzig
Magdeburg
Potsdam
Clermont
Dijon
Lille
Lyon
Montpellier
Nantes
Nimes
Paris
Toulouse
Madrid
Wien
France_other
Germany_other
All

In [4]:
for city in cities_car:
    print(city)

    fp='../outputs/ML_Results/' + city + '_HPO_carown_new_summary.csv'
    carown=pd.read_csv(fp)

    carown_ml.append(round(carown['F1_full_ML'][0],3))
    carown_lr.append(round(carown['F1_full_LR'][0],3))

Berlin
Dresden
Düsseldorf
Frankfurt am Main
Kassel
Leipzig
Magdeburg
Potsdam
Clermont
Paris
Toulouse
France_other
Germany_other
All

In [5]:
carown_df=pd.DataFrame({'city':cities_car,'car_own_F1_ML':carown_ml,'car_own_F1_LR':carown_lr})
carown_df

                 city  car_own_F1_ML  car_own_F1_LR
0              Berlin          0.758          0.738
1             Dresden          0.811          0.784
2          Düsseldorf          0.797          0.796
3   Frankfurt am Main          0.791          0.797
4              Kassel          0.829          0.826
5             Leipzig          0.769          0.747
6           Magdeburg          0.812          0.796
7             Potsdam          0.767          0.773
8            Clermont          0.830          0.839
9               Paris          0.758          0.743
10           Toulouse          0.846          0.843
11       France_other          0.845          0.842
12      Germany_other          0.809          0.786
13                All          0.783          0.756

In [6]:
summ_df=pd.DataFrame({'city':cities,'dist_agg_r2_ML':dist_agg_ml,'dist_agg_r2_LR':dist_agg_lr,
                      'dist_commute_r2_ML':dist_comm_ml,'dist_commute_r2_LR':dist_comm_lr,
                      'mode_F1_ML':mode_ml,'mode_F1_LR':mode_lr})

summ_df

,city,dist_agg_r2_ML,dist_agg_r2_LR,dist_commute_r2_ML,dist_commute_r2_LR,mode_F1_ML,mode_F1_LR
0,Berlin,0.780,0.813,0.145,0.140,0.676,0.624
1,Dresden,0.257,0.117,-0.064,-0.010,0.681,0.616
2,Düsseldorf,0.166,-0.103,0.030,0.029,0.647,0.599
3,Frankfurt am Main,0.034,-0.791,-0.082,-0.012,0.657,0.545
4,Kassel,-0.746,-11.689,-0.099,-0.017,0.681,0.623
5,Leipzig,0.479,0.293,0.021,0.035,0.679,0.639
6,Magdeburg,-0.018,-5.472,-0.008,0.039,0.687,0.605
7,Potsdam,-1.090,-8.901,-0.041,-0.007,0.654,0.610
8,Clermont,0.111,0.138,0.221,0.252,0.918,0.654
9,Dijon,0.505,0.627,0.137,0.210,0.875,0.627
10,Lille,0.172,0.268,0.117,0.103,0.904,0.732
11,Lyon,0.425,0.467,0.160,0.151,0.871,0.751
12,Montpellier,0.700,0.769,0.207,0.207,0.873,0.715
13,Nantes,0.652,0.666,0.184,0.175,0.856,0.753
14,Nimes,0.345,-0.640,0.167,0.185,0.910,0.617
15,Paris,0.500,0.578,0.128,0.091,0.790,0.620
16,Toulouse,0.406,0.545,0.175,0.155,0.866,0.760
17,Madrid,0.672,0.669,0.173,0.134,0.729,0.685
18,Wien,0.493,0.420,0.085,0.110,0.685,0.668
19,France_other,0.407,0.445,0.213,0.178,0.883,0.763
20,Germany_other,0.141,0.096,0.052,0.022,0.668,0.617
21,All,0.540,0.526,0.159,0.125,0.758,0.679

In [7]:
summ_df=summ_df.merge(carown_df,how='outer')
summ_df

,city,dist_agg_r2_ML,dist_agg_r2_LR,dist_commute_r2_ML,dist_commute_r2_LR,mode_F1_ML,mode_F1_LR,car_own_F1_ML,car_own_F1_LR
0,Berlin,0.780,0.813,0.145,0.140,0.676,0.624,0.758,0.738
1,Dresden,0.257,0.117,-0.064,-0.010,0.681,0.616,0.811,0.784
2,Düsseldorf,0.166,-0.103,0.030,0.029,0.647,0.599,0.797,0.796
3,Frankfurt am Main,0.034,-0.791,-0.082,-0.012,0.657,0.545,0.791,0.797
4,Kassel,-0.746,-11.689,-0.099,-0.017,0.681,0.623,0.829,0.826
5,Leipzig,0.479,0.293,0.021,0.035,0.679,0.639,0.769,0.747
6,Magdeburg,-0.018,-5.472,-0.008,0.039,0.687,0.605,0.812,0.796
7,Potsdam,-1.090,-8.901,-0.041,-0.007,0.654,0.610,0.767,0.773
8,Clermont,0.111,0.138,0.221,0.252,0.918,0.654,0.830,0.839
9,Dijon,0.505,0.627,0.137,0.210,0.875,0.627,NaN,NaN
10,Lille,0.172,0.268,0.117,0.103,0.904,0.732,NaN,NaN
11,Lyon,0.425,0.467,0.160,0.151,0.871,0.751,NaN,NaN
12,Montpellier,0.700,0.769,0.207,0.207,0.873,0.715,NaN,NaN
13,Nantes,0.652,0.666,0.184,0.175,0.856,0.753,NaN,NaN
14,Nimes,0.345,-0.640,0.167,0.185,0.910,0.617,NaN,NaN
15,Paris,0.500,0.578,0.128,0.091,0.790,0.620,0.758,0.743
16,Toulouse,0.406,0.545,0.175,0.155,0.866,0.760,0.846,0.843
17,Madrid,0.672,0.669,0.173,0.134,0.729,0.685,NaN,NaN
18,Wien,0.493,0.420,0.085,0.110,0.685,0.668,NaN,NaN
19,France_other,0.407,0.445,0.213,0.178,0.883,0.763,0.845,0.842
20,Germany_other,0.141,0.096,0.052,0.022,0.668,0.617,0.809,0.786
21,All,0.540,0.526,0.159,0.125,0.758,0.679,0.783,0.756

In [8]:
summ_df.to_csv('../outputs/ML_Results/accuracy_all.csv',index=False)